body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 1500px;
	margin: 0 auto;
}


.header {
	height: 80px;
	background-color: #181C3B;
	padding-top: 20px;
	box-shadow: 10px 10px 50px black;
}

.beutifull-font {
	font-family: 'Hanalei Fill', cursive;
	margin: 0;
	text-align: center;
	color: white;
}

.post-text {
	width: 250px;
	min-height: 350px;
	border: 1px solid black;
	margin-bottom: 20px;
}

.subm {
	margin-left: 80px;
}

.post-img {
	margin-left: 14px;
	margin-top: 14px;
}

.subm {
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #284486;
	color: white;
}

.posts {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
}

a {
	color: white;
	text-decoration: none;
}

.img-biggest {
	margin-left: 460px;
	margin-top: 40px;
}

.beutifull-back {
	font-family: 'Hanalei Fill', cursive;
	margin: 0;
}

.back {
	position: fixed;
	margin-left: 35px;
}

.subm {
	margin-bottom: 25px;
}